In [1]:
metadata_filename = '/home/mteruel/edm/data/assistments/id_by_problem/frequency_geq5/sequences_problems_geq5_metadata.tsv'
dataset_filename = '/home/mteruel/edm/data/assistments/filtered_problems_geq5.csv'

In [2]:
import pandas

In [3]:
metadata = pandas.read_csv(metadata_filename, sep='\t', index_col=False, skiprows=1, names=['new_skill_id', 'template_id'])

In [4]:
metadata[:5]

   new_skill_id  template_id
0           106           86
1           104           86
2           109          252
3            69          810
4            69          810

In [5]:
metadata.new_skill_id = metadata.new_skill_id.astype(int)

In [6]:
dataset = pandas.read_csv(dataset_filename)

/home/mteruel/anaconda2/envs/edm_env/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
dataset.drop_duplicates('new_skill_id', inplace=True)

In [8]:
dataset[:10]

,Unnamed: 0,Unnamed: 0.1,order_id,joined_skills,new_skill_id,assignment_id,user_id,assistment_id,problem_id,original,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,0,0,20224085,297.0,1,232368,73963,42904,76429,0,...,0,0,112313,31690,128739.0,NaN,0,NaN,1,NaN
16,16,16,20225413,294.0,2,232370,70759,43122,77432,1,...,0,0,14730,31691,NaN,NaN,2,NaN,1,1
24,24,24,20225581,17.0,3,232359,70759,42034,74567,1,...,3,5,137183,30449,NaN,27,0,0.0,1,1
29,35,39,20225803,"9.0,14.0",6,220656,70759,36923,58021,1,...,0,0,31101,30049,NaN,63,0,NaN,1,1
30,36,41,20225810,"10.0,12.0",7,220659,70701,32019,48873,1,...,0,0,76688,30244,NaN,13,0,NaN,1,1
31,37,43,20225818,"9.0,12.0",8,220656,70759,36859,57767,1,...,0,0,133428,30047,NaN,43,0,NaN,2,2
33,42,52,20225861,NaN,5,220669,70759,32053,49065,0,...,0,2,7678,30244,72235.0,NaN,0,NaN,3,NaN
43,59,79,20225985,11.0,11,220663,70701,36778,57515,1,...,0,0,28782,30041,NaN,3,0,NaN,1,1
44,60,80,20225991,"9.0,15.0",12,220666,70759,36886,57875,1,...,0,0,101670,30048,NaN,3,0,NaN,3,3
54,73,97,20226122,4.0,13,220673,70759,33037,51322,1,...,3,4,77840,32148,NaN,13,0,0.0,1,1

In [17]:
dataset.iloc[3]

Unnamed: 0                              35
Unnamed: 0.1                            39
order_id                          20225803
joined_skills                     9.0,14.0
new_skill_id                             6
assignment_id                       220656
user_id                              70759
assistment_id                        36923
problem_id                           58021
original                                 1
correct                                  1
attempt_count                            1
ms_first_response                    31101
tutor_mode                           tutor
answer_type                        algebra
sequence_id                           5899
student_class_id                     11816
position                                 4
type                        MasterySection
base_sequence_id                      5899
skill_id                                 9
skill_name              Stem and Leaf Plot
teacher_id                           22763
school_id                               73
hint_count                               0
hint_total                               0
overlap_time                         31101
template_id                          30049
answer_id                              NaN
answer_text                             63
first_action                             0
bottom_hint                            NaN
opportunity                              1
opportunity_original                     1
Name: 29, dtype: object

In [10]:
important_cols = [u'new_skill_id', 'template_id_x', u'answer_type', 'skill_name']

In [11]:
full_metadata = metadata.merge(dataset, on='new_skill_id', how='left')[important_cols]

In [12]:
full_metadata[:10]

   new_skill_id  template_id_x answer_type            skill_name
0           106             86   fill_in_1  Equivalent Fractions
1           104             86   fill_in_1  Equivalent Fractions
2           109            252     algebra  Equivalent Fractions
3            69            810   fill_in_1            Percent Of
4            69            810   fill_in_1            Percent Of
5            69            810   fill_in_1            Percent Of
6            69            810   fill_in_1            Percent Of
7            69           1080   fill_in_1            Percent Of
8            47           1085     algebra      Finding Percents
9            47           1085     algebra      Finding Percents

In [13]:
full_metadata.skill_name.unique()

array(['Equivalent Fractions', 'Percent Of', 'Finding Percents',
       'Division Fractions', 'Rate', 'Percents', nan, 'Percent Discount',
       'Addition and Subtraction Fractions', 'Pythagorean Theorem',
       'Venn Diagram', 'Circle Graph', 'Table',
       'Subtraction Whole Numbers', 'Scatter Plot',
       'Addition Whole Numbers', 'Write Linear Equation from Situation',
       'Order of Operations All',
       'Order of Operations +,-,/,* () positive reals',
       'Histogram as Table or Graph', 'Box and Whisker', 'Exponents',
       'Ordering Fractions', 'Ordering Positive Decimals',
       'Ordering Integers', 'Scientific Notation',
       'Addition and Subtraction Integers',
       'Addition and Subtraction Positive Decimals',
       'Multiplication Fractions', 'Multiplication and Division Integers',
       'Write Linear Equation from Ordered Pairs',
       'Solving for a variable', 'Pattern Finding ', 'Number Line',
       'Stem and Leaf Plot', 'Proportion',
       'Write Linear Equation from Graph', 'Rounding',
       'Conversion of Fraction Decimals Percents', 'Unit Rate',
       'Interior Angles Figures with More than 3 Sides',
       'Calculations with Similar Figures', 'Congruence',
       'Complementary and Supplementary Angles',
       'Effect of Changing Dimensions of a Shape Prportionally',
       'Unit Conversion Within a System', 'Probability of a Single Event',
       'Counting Methods', 'Probability of Two Distinct Events',
       'D.4.8-understanding-concept-of-probabilities',
       'Nets of 3D Figures', 'Surface Area Rectangular Prism',
       'Volume Rectangular Prism', 'Circumference ', 'Area Circle',
       'Volume Cylinder', 'Area Trapezoid', 'Volume Sphere',
       'Area Irregular Figure', 'Midpoint', 'Reading a Ruler or Scale',
       'Interpreting Coordinate Graphs ', 'Perimeter of a Polygon',
       'Estimation', 'Square Root', 'Absolute Value',
       'Least Common Multiple', 'Scale Factor', 'Divisibility Rules',
       'Equation Solving Two or Fewer Steps', 'Prime Number',
       'Multiplication and Division Positive Decimals',
       'Angles on Parallel Lines Cut by a Transversal',
       'Interior Angles Triangle', 'Area Rectangle', 'Area Triangle',
       'Area Parallelogram', 'Surface Area Cylinder', 'Mean', 'Median',
       'Greatest Common Factor', 'Range', 'Translations', 'Reflection',
       'Rotations', 'Algebraic Simplification', 'Algebraic Solving',
       'Equation Solving More Than Two Steps',
       'Solving Systems of Linear Equations by Graphing',
       'Solving Systems of Linear Equations', 'Polynomial Factors',
       'Angles - Obtuse, Acute, and Right',
       'Simplifying Expressions positive exponents',
       'Choose an Equation from Given Information'], dtype=object)

In [ ]:
names = {'Equivalent Fractions', 'Percent Of', 'Finding Percents',
       'Division Fractions', 'Rate', 'Percents', nan, 'Percent Discount',
       'Addition and Subtraction Fractions', 'Pythagorean Theorem',
       'Venn Diagram', 'Circle Graph', 'Table',
       'Subtraction Whole Numbers', 'Scatter Plot',
       'Addition Whole Numbers', 'Write Linear Equation from Situation',
       'Order of Operations All',
       'Order of Operations +,-,/,* () positive reals',
       'Histogram as Table or Graph', 'Box and Whisker', 'Exponents',
       'Ordering Fractions', 'Ordering Positive Decimals',
       'Ordering Integers', 'Scientific Notation',
       'Addition and Subtraction Integers',
       'Addition and Subtraction Positive Decimals',
       'Multiplication Fractions', 'Multiplication and Division Integers',
       'Write Linear Equation from Ordered Pairs',
       'Solving for a variable', 'Pattern Finding ', 'Number Line',
       'Stem and Leaf Plot', 'Proportion',
       'Write Linear Equation from Graph', 'Rounding',
       'Conversion of Fraction Decimals Percents', 'Unit Rate',
       'Interior Angles Figures with More than 3 Sides',
       'Calculations with Similar Figures', 'Congruence',
       'Complementary and Supplementary Angles',
       'Effect of Changing Dimensions of a Shape Prportionally',
       'Unit Conversion Within a System', 'Probability of a Single Event',
       'Counting Methods', 'Probability of Two Distinct Events',
       'D.4.8-understanding-concept-of-probabilities',
       'Nets of 3D Figures', 'Surface Area Rectangular Prism',
       'Volume Rectangular Prism', 'Circumference ', 'Area Circle',
       'Volume Cylinder', 'Area Trapezoid', 'Volume Sphere',
       'Area Irregular Figure', 'Midpoint', 'Reading a Ruler or Scale',
       'Interpreting Coordinate Graphs ', 'Perimeter of a Polygon',
       'Estimation', 'Square Root', 'Absolute Value',
       'Least Common Multiple', 'Scale Factor', 'Divisibility Rules',
       'Equation Solving Two or Fewer Steps', 'Prime Number',
       'Multiplication and Division Positive Decimals',
       'Angles on Parallel Lines Cut by a Transversal',
       'Interior Angles Triangle', 'Area Rectangle', 'Area Triangle',
       'Area Parallelogram', 'Surface Area Cylinder', 'Mean', 'Median',
       'Greatest Common Factor', 'Range', 'Translations', 'Reflection',
       'Rotations', 'Algebraic Simplification', 'Algebraic Solving',
       'Equation Solving More Than Two Steps',
       'Solving Systems of Linear Equations by Graphing',
       'Solving Systems of Linear Equations', 'Polynomial Factors',
       'Angles - Obtuse, Acute, and Right',
       'Simplifying Expressions positive exponents',
       'Choose an Equation from Given Information'}

In [43]:
new_metadata_filename = '/home/mteruel/edm/data/assistments/id_by_problem/frequency_geq5/sequences_problems_geq5_metadata_new.tsv'
full_metadata.to_csv(new_metadata_filename, sep='
                     t')

,new_skill_id,template_id_x,answer_type,skill_name
0,106,86,fill_in_1,Equivalent Fractions
1,104,86,fill_in_1,Equivalent Fractions
2,109,252,algebra,Equivalent Fractions
3,69,810,fill_in_1,Percent Of
4,69,810,fill_in_1,Percent Of
5,69,810,fill_in_1,Percent Of
6,69,810,fill_in_1,Percent Of
7,69,1080,fill_in_1,Percent Of
8,47,1085,algebra,Finding Percents
9,47,1085,algebra,Finding Percents
10,47,1085,algebra,Finding Percents
11,47,1085,algebra,Finding Percents
12,47,1085,algebra,Finding Percents
13,47,1254,algebra,Finding Percents
14,47,2218,algebra,Finding Percents
15,47,2218,algebra,Finding Percents
16,47,2218,algebra,Finding Percents
17,47,2218,algebra,Finding Percents
18,47,2218,algebra,Finding Percents
19,68,8462,algebra,Division Fractions
20,68,8463,algebra,Division Fractions
21,103,12470,algebra,Rate
22,83,12813,fill_in_1,Percents
23,5,12813,choose_1,NaN
24,5,12813,choose_1,NaN
25,103,12865,algebra,Rate
26,5,12865,choose_1,NaN
27,103,12949,algebra,Rate
28,5,12949,choose_1,NaN
29,5,12949,choose_1,NaN
...,...,...,...,...
17275,92,93337,algebra,Equation Solving More Than Two Steps
17276,92,93337,algebra,Equation Solving More Than Two Steps
17277,92,93358,algebra,Equation Solving More Than Two Steps
17278,92,93358,algebra,Equation Solving More Than Two Steps
17279,92,93358,algebra,Equation Solving More Than Two Steps
17280,92,93358,algebra,Equation Solving More Than Two Steps
17281,92,93358,algebra,Equation Solving More Than Two Steps
17282,92,93380,algebra,Equation Solving More Than Two Steps
17283,92,93380,algebra,Equation Solving More Than Two Steps
17284,92,93380,algebra,Equation Solving More Than Two Steps
17285,92,93380,algebra,Equation Solving More Than Two Steps
17286,92,93380,algebra,Equation Solving More Than Two Steps
17287,92,93380,algebra,Equation Solving More Than Two Steps
17288,92,93380,algebra,Equation Solving More Than Two Steps
17289,5,93412,choose_1,NaN
17290,5,93412,choose_1,NaN
17291,5,93423,choose_1,NaN
17292,5,93423,choose_1,NaN
17293,5,93447,choose_1,NaN
17294,5,93447,choose_1,NaN
17295,5,93458,choose_1,NaN
17296,5,93458,choose_1,NaN
17297,5,93469,choose_1,NaN
17298,5,93480,choose_1,NaN
17299,20,29882,fill_in_1,Addition and Subtraction Integers
17300,20,29882,fill_in_1,Addition and Subtraction Integers
17301,20,29882,fill_in_1,Addition and Subtraction Integers
17302,20,29948,fill_in_1,Addition and Subtraction Integers
17303,20,29950,fill_in_1,Addition and Subtraction Integers
17304,20,29950,fill_in_1,Addition and Subtraction Integers